.about {
    padding-left: 1.5vw;
    padding-top: 0vh;
}

.about-title {
    font-size: 2em;
    margin-top: 1.25em;
}

.about-body {
    padding-left: 15px;
    padding-right: 10vw;
    white-space: pre-line;
}