.addPost {
    display: flex;
    justify-content: center;
    padding-left: 8vw;
}

.addPost-title {
    display: block;
    margin-top: 1.2em;
    font-size: 2em;
}

.addPost-heading { /* These settings look good for the 6 and the XS Max in landscape */
    display: block;
    border: 4px solid gray;
    width: 50vw;
    padding-bottom: 20px;
    margin: 20px 0;
    font-size: 2em;
}

.addPost-heading:focus {
    outline: none;
}

.addPost-body { /* These settings look good for the 6 and the XS Max in landscape */
    display: block;
    border: 4px solid gray;
    font-size: 2em;
    height: 30vh;
    width: 50vw;
}

.addPost-body:focus {
    outline: none;
}

.addPost-button { /* These settings look good for the 6 and the XS Max in landscape */
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0px;
    background: gray;
    color: white;
    outline: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);

}

.addPost-button:hover,
.addPost-button:active {
    background: white;
    color: gray;
    outline: none;
}