a {
   text-decoration : none;
}

.title {
   margin-bottom: 0px;
}
ul {
   display: flex;
   justify-content: space-between;
   margin: 0px;
   padding-bottom: 10px;
}

li {
   text-align: space-between;
   list-style: none;
   padding-right: 30px;

}

.main-header {
   height: 400px;
   margin-bottom: 20px;
}