.main-header {
    height: 250px;
}

.name {
    display: flex;
    align-items: flex-start;
}

.home-post {
    display: inline-flex;
}

.title {
    text-align: center;
}

.home-details {
    display: inline-flex;
}
