@media only screen and (min-width:1242px) and (max-width:2688px) {
    .main-header {
      background: url("../images/trees_2016hx2688w.jpg") 10% 35%/cover no-repeat border-box;
      height: 400px;
    }

    .main-layout {
      display: inline-flex;
      margin-left: 22em;
      padding-right: 60px;
      background-color: white;
  }

    .home-post {
      display: inline-flex;
    }

    .post-content {
      padding-left: 50px;
    }

    .post-title {
      font-size: 2em;
    }

    .comment-add {
      width: 500px;
    }

    .addPost {
      width: 900px;
    }

    .addPost-title {
      display: block;
      border: 4px solid blue;
      width: 900px;
      padding-bottom: 20px;
      margin: 20px 0;
      font-size: 40px;
  }
  
  .addPost-body {
      display: block;
      border: 4px solid blue;
      font-size: 25px;
      height: 550px;
      width: 900px;
  }
  
  .addPost-button {
      padding: 10px;
      border-radius: 8px;
      margin: 10px;
      background: blue;
      color: white;
  }
}
  
  @media only screen and (min-width:1025px) {
  
    .main-header {
      background: url("../images/trees_768hx1024w.jpg") 10% 35%/cover no-repeat border-box;
      height: 400px;  
    }
    .post-content {
      padding-left: 50px;
      width: 900px;
    }
  }
  /* XS Max Landscape */
  @media only screen and (min-width: 896px) and (orientation: landscape) {
    .main-header {
      background: url("../images/trees_768hx1024w.jpg") 10% 35%/cover no-repeat border-box;
      height: 400px;  
    }

    .main-layout {
      display: inline-flex;
      margin-left: 20em;
      padding-right: 60px;
      background-color: white;
  }
    .post-content {
      padding-left: 50px;
  }

  }
  /* XS Max Portrait */
  @media only screen and (min-width: 414px) and (orientation: portrait) {
    .main-header {
      background: url("../images/trees_436hx581w.jpg") 10% 35%/cover no-repeat border-box ;
    }
  }
  /* Tablet (Landscape) */
  @media only screen and (min-width:769px) and (max-width:1024px) {
  
    .main-header {
      background: url("../images/trees_768hx1024w.jpg") 10% 35%/cover border-box;
    }
  }
  /* Tablet (Portrait) */
  @media only screen and (min-width:581px) and (max-width:768px) {
  
    .main-header {
      background: url("../images/trees_436hx581w.jpg") 10% 35%/cover no-repeat border-box ;
    }

    .main-layout {
      margin: 0em, 2em;
    }
  }

  /* XS (Portrait) */
@media only screen and (min-width:1125px) and(max-width:2436px) {
  .post-title {
    font-size: 2em;    /*Looks good on the phone */
  }
}
  
  /* Phone (Landscape) */
  @media only screen and (min-width:321px) and (max-width:580px) {
  
    .main-header {
      background: url("../images/trees_436hx581w.jpg") 0% 50%/cover no-repeat border-box;
    }

    .main-layout {
      margin: 0em 1em;
    }
  
    .post-title {
      font-size: 1.5em;
    }
    .comment-add {
      width: 240px;
    }

    .addPost-title {
      display: block;
      border: 4px solid blue;
      width: 6000px;
      padding-bottom: 20px;
      margin: 20px 0;
      font-size: 40px;
  }
  
  .addPost-body {
      display: block;
      border: 4px solid blue;
      font-size: 25px;
      height: 400px;
      width: 320px;
  }
  
  .addPost-button {
      padding: 10px;
      border-radius: 8px;
      margin: 10px;
      background: blue;
      color: white;
  
  }
  }
  
  /* Phone (Portrait) */
  @media only screen and (max-width:320px) {
    .main-header {
      background: url("../images/trees_240h_x320w.jpg") 0% 50%/cover no-repeat border-box;
      padding-left: 5px;
    }

    .main-layout {
      display: inline-flex;
      padding-right: 60px;
      background-color: white;
    }

    .comment-add {
      width: 9000px;
    }

    .post-content {
      margin: 20px 30px 0px 10px;
      padding: 0px 20px 0px 25px; 
      /* Need to change the left padding for smaller screens */
      white-space: pre-line;
    }

    .post-title {
    font-weight: bold;
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: .20em;  
    }
}
  