/* Desktop Monitor */
@media only screen and (min-width:1242px) and (max-width:2688px) {
  
    .main-header {
      background: url("../images/trees_2016hx2688w.jpg") 10% 35%/cover no-repeat border-box;
      height: 400px;
    }

    .main-layout {
      display: inline-flex;
      /* margin-left: 20em; */
      padding-right: 60px;
      background-color: white;
  }

    .home-post {
      display: inline-flex;
    }

    .post-content {
      margin: 20px 30px 0px 10px;
      padding: 0px 20px 0px 25px; 
      padding-left: 50px;
      /* Need to change the left padding for smaller screens */
  }

    .post-title {
      font-size: 2em;
      margin-top: .5em;
    }

    .comment-add {
      width: 18vw;
    }

    .about {
      padding-left: 50px;
  }

    .about-title {
      font-size: 2em;
      margin-top: 1.5em;
    }

    .contact-title {
      margin-top: 1.15em;
    }

    .portfolio-title {
      font-size: 2em;
    }

    .addPost {
      width: 900px;
    }

    .addPost-title {
      display: block;
      width: 900px;
      padding-bottom: 20px;
      margin: 20px 0;
      font-size: 40px;
      font-size: 2em;
  }
}
  /* Laptop */
  @media only screen and (min-width:992px) {
  
    .main-header {
      background: url("../images/trees_768hx1024w.jpg") 10% 35%/cover no-repeat border-box;
      height: 200px;  
    }
    .post-content {
      padding-left: 50px;
      width: 900px;
    }
    .comment-add {
      margin-bottom: 2em;
    }
    .comment-body {
      height: 75px;
      width: 20vw;
      resize: none;
      font-size: 18px;
      outline: none;
  }
  }

  /* Ipad Landscape Only */
  @media only screen and (min-width:768px) and (max-width:1024px) and (orientation : landscape){
    .post-title {
      margin-top: 1.95em;
      font-size: 1.25em;
    }

    .post-content {
      width: 800px;
      margin: 20px 0px 0px 0px;
      padding: 0px 20px 0px 10px; 
    }
    .about {
      padding-left: 55px;
      padding-bottom: 30px;
    }

    .about-title {
      margin-top: 2.5em;
    }

    .about-body {
      width: 775px;
      margin: 20px 0px 0px 0px;
      padding: 0px 100px 0px 60px; 
    }

    .contact {
      padding-top: 1.75em;
    }
 
    .contact-title {
      font-size: 1.25em;
    }
 
    .addPost-title {
     padding-top: .75em;
     font-size: 1.25em;
    }
 
    .addAbout-title {
     padding-top: 1.15em;
     font-size: 1.25em;
    }
  }
  /* XS Max Landscape */
  /* This is done depending on how I fix the timestamp */
  @media only screen and (min-width:768px) and (max-width:1000px) and (orientation : landscape){
  
    .main-header {
      background: url("../images/trees_768hx1024w.jpg") 10% 35%/cover border-box;
    }

    .post-title {
      margin-top: 1em;
      font-size: 1.25em;
    }

    .post-content {
      width: 500px;
      margin: 20px 0px 0px 0px;
      padding: 0px 20px 0px 10px; 
    }

    .home-post {
      display: inline-flex;
    }

    .home-details {
      margin-left: 0px;
    }

    .comment-add {
      width: 55vw;
    }

    .about {
      padding-left: 55px;
    }
    .about-title {
      margin-top: 2.5em;
    }

    .contact-title {
      font-size: 1.5em;
      margin-top: 1.5em;
    }

    .portfolio-title {
      margin-top: 2.5em;
    }

    .addPost-title {
      font-size: 1.5em;
      margin-top: 6em;
    }

    .addAbout-title {
      margin-top: 1.5em;
    }
  }

  /* Ipad Portrait  works in portrait without affecting the xS Max*/
  @media only screen and (min-width:768px) and (max-width:1024px) and (orientation : portrait){
    .main-header {
      background: url("../images/trees_768hx1024w.jpg") 10% 35%/cover border-box;
    }

    .post-title {
      margin-top: 1.95em;
      font-size: 1.25em;
    }

    .post-content {
      width: 600px;
      margin: 20px 0px 0px 0px;
      padding: 0px 60px 0px 10px; 
    }

    .about {
      padding-bottom: 30px;
    }

    .about-title {
      margin-top: 1.95em;
      font-size: 1.25em;
    }

    .about-body {
      width: 575px;
      margin: 20px 0px 0px 0px;
      padding: 0px 100px 0px 60px; 
    }

    .details {
      display: block;
    }

    .contact {
      padding-top: 1.75em;
    }
 
    .contact-title {
      font-size: 1.25em;
    }
 
    .addPost-title {
     padding-top: .75em;
     font-size: 1.25em;
    }
 
    .addAbout-title {
     padding-top: 1.15em;
     font-size: 1.25em;
    }
  }

    /* For the 6, 7, 8 Plus in Landscape */
  @media only screen and (max-width:750px) {
    .post-title {
      margin-top: 1.95em;
      font-size: 1.25em;
    }

    .post-content {
      width: 600px;
      margin: 20px 0px 0px 0px;
      padding: 0px 60px 0px 10px; 
    }

    .about {
      padding-bottom: 30px;
    }

    .about-title {
      margin-top: 1.95em;
      font-size: 1.25em;
    }

    .about-body {
      width: 575px;
      margin: 20px 0px 0px 0px;
      padding: 0px 100px 0px 60px; 
    }

    .details {
      display: block;
    }

    .contact {
      padding-top: 1.75em;
    }
 
    .contact-title {
      font-size: 1.25em;
    }
 
    .addPost-title {
     padding-top: .75em;
     font-size: 1.25em;
    }
 
    .addAbout-title {
     padding-top: 1.15em;
     font-size: 1.25em;
    }

  }

  /* For the 5, SE, 6, 7, 8 in Landscape */

  /* Still need to fix the select for the category otherwise it's done */
  @media only screen and (max-width:667px) {

   /* Need to make a smaller resolution picture and move the comment button up */
   .main-header {
    background: url("../images/trees_768hx1024w.jpg") 10% 35%/cover border-box;
  }

   .post-content {
     padding-left: 20px;
   }
   .post-title {
     padding-top: 1em;
   }

   .post-line {
     border: .5 solid black;
     padding-right: 4em;
   }

   .comment-body {
     width: 400px;
     height: 75px;
     margin-right: 3em;
     border: .5px solid black;
     resize: none;
   }

   .about {
     padding-left: 20px;
   }
   .about-title {
     padding-top: 1.15em;
   }

   .contact {
     padding-top: 1.75em;
   }

   .contact-title {
     font-size: 1.25em;
   }

   .addPost-title {
    padding-top: 1em;
    font-size: 1.25em;
   }

   .addAbout-title {
    padding-top: 1.15em;
    font-size: 1.25em;
   }
  }
/* the XS max in portrait  */
/* This is done, except I may need to change the size of the comment box once uploaded to heroku */
@media only screen and (max-width:425px) {
  

  * {
    color: pink;
  }
  .main-header {
    background: url("../images/trees_240h_x320w.jpg") 0% 50%/cover no-repeat border-box;
    padding-left: 5px;
  }

  .main-layout {
    display: inline-flex;
    background-color: white;
  }

  .header-ul {
    margin-top: 15px;
  }

  .comment-add {
    width: 60vw;
  }

  .post-content {
    width: 300px;
    margin: 20px 30px 0px 10px;
    padding: 0px 20px 0px 25px; 
    /* Need to change the left padding for smaller screens */
    white-space: pre-line;
  }

  .post-title {
  font-weight: bold;
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: .20em;  
  }
  .about {
    padding-bottom: 30px;
  }
  .about-title {
    margin-top: 1.5em;
    font-size: 1em;
  }

  .about-body {
    width: 280px;
  }

  .contact-title {
    margin-top: 1em;
    font-size: 1em;
  }

  .portfolio-title {
    margin-top: 2.5em;
    font-size: 1em;
  }

}
  
  /* Phone 6, 7, 8 in portrait */
  /* This is done  */
  @media only screen and (min-width:321px) and (max-width:375px) {
    .main-header {
      background: url("../images/trees_436hx581w.jpg") 0% 50%/cover no-repeat border-box;
    }

    .home-post {
      width: 260px;
    }

    .post-content {
      padding-left: 0px;
    }

    .post-title {
      font-size: 1em;
      margin-top: 1.5em;
    }
    .post-line {
      width: 240px;
    }

    .comment-add {
      width: 50vw;
      margin-bottom: 1.5em;
    }

    .comment-body {
      width: 200px;
      height: 70px;
      border: .5px solid black;
      resize: none;
    }

    .addPost-title {
      display: block;
      padding-bottom: 10px;
  }
  
  .addPost-body {
      display: block;
      font-size: 25px;
      height: 400px;
      width: 320px;
  }
  
  .addPost-button {
      padding: 10px;
      border-radius: 8px;
      margin: 10px;
  }
  }
  
  /* Phone (Portrait) works with the 5s for portrait only*/
  @media only screen and (max-width:320px) {
    .main-header {
      background: url("../images/trees_240h_x320w.jpg") 0% 50%/cover no-repeat border-box;
      padding-left: 5px;
    }

    .main-layout {
      display: inline-flex;
      width: 100vw;
      /* padding-right: 60px; */
      background-color: white;
    }
    
    .comment-add {
      width: 55vw;
    }

    .post-content {
      width: 300px;
      margin: 20px 0px 0px 0px;
      padding: 0px 60px 0px 10px; 
      white-space: pre-line;
    }

    .about {
      padding-bottom: 30px;
    }

    .about-body {
      width: 200px;
      margin: 20px 0px 0px 0px;
      padding: 0px 100px 0px 60px; 
    }
  
    .post-title {
    font-weight: bold;
    font-size: 1em;
    margin-top: 2.5em;
    margin-bottom: .20em;  
    }
  }

  