.nav {
    display: inline-block;
    margin-top: 40px;
}

.nav-hamburger__line {
    width: 20px;
    height: 4px;
    background: rgb(121, 115, 115);
    margin: 2px 15px;
    padding-left: 5px;
}

.nav-link {
    display: block;
    height: 50px;
    color: black;
}

.hide {
    display:none;
}

.show {
    padding: 10px 5px 15px 15px;
}