.past {
    display: flex;
    align-items: flex-start;
    /* Need to change the left padding for smaller screens */
    white-space: pre-wrap;
    margin: 0 2vh 0 10px;
    padding: 0px 20px 0px 25px; 
    /* margin-left: 4vh;
 } */
}

.past-title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .20em;
}
