.post-content {
    margin: 0 10px;
    padding-left: 90px;
    padding-right: 90px;
    width: 900px;
    white-space: pre-line;
}

.post-title {
    font-weight: bold;
    font-size: 2em;
}

.post-break {
    border: .5px solid lightgrey;
    margin-top: 45px;
}